<h1>{{template}}</h1>
<table>
  <thead>
    <tr>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userService.users ; let i = index">
      <td><img src="../../../assets/images/1.jpeg.jpg"></td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td [style.backgroundColor]='user.color'>{{user.color}}</td>
      <button routerLink="/useredit/{{user.id}}" >Edit</button>
      <button (click)="deleteUser(i)">Delete</button>
    </tr>
  </tbody>
</table>
<div class="custom-select">
  <app-custom-select [items] = 'testArray' [valueForKey] = 'valueForKey' [nameForKey] = 'nameForKey' (selectItem) = "selectUser($event)" ></app-custom-select>
  <app-custom-tree-select [treeSelectItems] = 'treeSelectTestArray'  [valueForKey] = 'valueForKey' [nameForKey] = 'nameForKey' [childItemKey]='item' (selectItem) = "treeSelectUser($event)"></app-custom-tree-select>
</div>
